
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fef6e4;
}

.header {
    text-align: center;
    color: #001858;
    font-size: 40px;

}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.form2{
    color:#001858;
    margin: auto;
    padding: 10px;
    font-family: cursive;
}
.header-content{
    margin: 20px;
    color: #001858;
    font-size: 20px;
    
}
.message{
    width: 200px;
    height: 40px;
    border:1px solid #172c66;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-section {
    background-color: #8bd3dd;
    justify-content: center;
    width: 100%;
    border: 1px solid #001858;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.div{
    display: block;
    justify-content: space-around;
}
.group{
    margin-left: 20px;
}
.text-align{
    text-align: center;
    margin-top: 40px;
}

.form-group{
    display: block;
    margin-bottom: 10px;

}

.button {
    background-color:#f582ae;
    color:#001858;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: #8bd3dd;
    cursor: pointer;
    border: solid black 1px;
}
