body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 20px;

}

.main-container{
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.sub-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.paragraph{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 700px;
    height: 600px;
    margin-top: 40px;
    margin-left: 150px;
}
.form-container{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}
.main-img{
    width: 95%;
    height: 400px;
    display: block;
    margin: 50px auto;
}
.sub-img{
    width: 600px;
    height: 350px;
    display: block;
    margin: 50px auto;
    margin-top: 10px;

}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
}



form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="submit"],
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}