body{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container{
    width: 100%;
}
.navbar{
    background-color: #fef6e4;
    display: flex;
}
.logo{
    height: 60px;
    width: 60px;
    margin: 10px;
}
.menu_list{
    margin-left: 220px;
    margin-top: 28px;
}
.menu_items{
    text-decoration: none;
    margin-right: 30px;
    font-size: 15px;
    color: #001858;
    font-weight: bold;
}
.toggle_switch{
    margin-top: 14px;
    margin-left: 80px;
}
.toggle_btn{
    height: 60px;
    width: 60px;
}