/*gallery box*/
.gallery_container{
    width: 70%;
    margin-left: 180px;
    padding: 20px;
    display: block;
    flex-wrap: wrap;
}
.gallery_box{
    height: 300px;
    width: 350px;
    cursor: pointer;
}
.gallery_box:hover{
    transform: scale(0.9);
}
.gallery_text{
    text-align: center;
    font-size: 40px;
    color: #001858;
    font-weight: bold;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.model{
    background-color: #fef6e4;
    height: 550px;
    width: 700px;
    padding: 15px;
    position: fixed;
}
.close{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.model_img{
    height: 350px;
    width: 700px;
    margin-top: 30px;
}
.modelbox_text{
    text-align: center;
    color: #001858;
}

/* Mobile Device */

@media screen and (max-width: 500px){
   
    /*background_img*/
    .Banner{
        position: relative;
    }
    .banner_text{
        position: absolute;
        top: 15%;
        left: 20%;
        color: #001858;
    }
    /*gallery box*/
.gallery_container{
    width: 70%;
    margin-left: 50px;
    padding: 20px;
    display: block;
    flex-wrap: wrap;
}
.gallery_box{
    height: 250px;
    width: 250px;
    cursor: pointer;
    margin: 10px auto;
}
.gallery_box:hover{
    transform: scale(0.9);
}
.gallery_text{
    text-align: center;
    font-size: 40px;
    color: #001858;
    font-weight: bold;
}
}
