.diff_div{
    display: flex;
    align-items: center;
    width:800px;
    margin:10px auto;
    justify-content: space-evenly;

}
.diff_card{
    background-color: #f3d2c1;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 20px;
    margin:5px 10px;
    box-shadow: 0px 10px 10px #333;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    
}
.diff_card img{
    border-radius: 10px;
    width: 70px;
    height: 60px;
}
.diff_card p{
    font-size: 14px;
    text-align: center;
}
.diff_card:hover{
    
    background-color: #f3d2c1;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 20px;
    margin:5px 10px;
    box-shadow: 0px 20px 20px #333;
    border-radius: 10px;
}
.overlay
{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.model
{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    top: 20%;
}
#modal_img{
    object-fit: cover;
    height:300px;
    width: 100%;
    border-radius: 10px;
}
.dialog-paragraph
{
    font-size: 15px;
    color: #172c66;
}
.ok-btn
{
    background-color:  #ff6347 ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
}
.ok-btn:hover
{
    background-color: #ff4500;
}
.contentsectiondiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.conentsectiondivcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px; 
}
.conentsectiondivcard p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.section3contentcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    margin-bottom: 25px;
}
.section3contentcard p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.section3contentcard img{
    width: 500px;
    height: 320px;
}
.rightmarginimgdiv{
    margin-right: 20px;
}
.leftmarginimgdiv{
    margin-left: 20px;
}
@media screen and (max-width: 500px){
    .diff_div{
        width: 100%;
        flex-direction: column;
    }
    .diff_card{
        margin-bottom: 20px;
    }
    .conentsectiondivcard{
        width: 100%; 
        flex-direction: column;
    }
    .conentsectiondivcard p{
        padding:12px;
        
    }
    .section3contentcard{
        width: 100%;
        flex-direction: column;
       justify-content: center;
    }
    .section3contentcard img{
        width: 500px;
        height: 320px;
    }
    .section3contentcard p{
        padding:12px;
    }
    .section3contentcard h3{
        text-align: center;
    }
    .section3contentcard img{
        width: 100%;
        object-fit:cover;
    }
    .rightmarginimgdiv{
        margin-right: 0px;
    }
    .leftmarginimgdiv{
        margin-left: 0px;
    }
    .conentsectiondivcard iframe{
        width: 100%;
        object-fit: cover;
        height: 400px;
    }
    .model
    {
        width: 250px;
        z-index: 999999;
    }
    .model h2{
        font-size: 15px;
        text-align: center;
    }   
    .iframediv{
        width: 100%;
    }
}
@media screen and (min-width: 501px) and (max-width : 992px){
    .diff_div {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    .diff_card p{
       overflow-wrap: break-word;
    }
    .conentsectiondivcard{
        flex-direction: column;
        width: 100%;
    }
    .conentsectiondivcard iframe{
        width: 100%;
        object-fit: cover;
        height: 400px;
    }
    .rightmarginimgdiv{
        margin-right: 0px;
    }
    .leftmarginimgdiv{
        margin-left: 0px;
    }
    .section3contentcard{
        width: 100%;
        flex-direction: column;
    }
    .section3contentcard img{
        width: 100%;
    }
    .section3contentcard h3{
        text-align: center;
    }
    .section3contentcard p{
        padding:12px;
    }
    .conentsectiondivcard p{
        padding:12px;
        
    }
    .iframediv{
        width: 100%;
    }
}
@media screen and (min-width: 993px) and (max-width : 1280px){
 
}