.body{
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
}

.content-container{
    background-color: #fff;
    padding: 5px 15px;
    width: 900px;
    margin-left: 300px;
    margin-top: 30px;
    height: 400px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px 10px #e2e2e0dc;
    color: #393938e8;
}

.trial-img{
    height: 400px;
    width: 1519px;
    margin-top: 30px;
}

.trial-text{
    color: rgb(6, 6, 143);
    font-size: 30px;
    text-align: center;
}

.form-text{
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.form-container{
    background-color: #001858;
    padding: 5px 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 20px;
}

.form{
    text-align: center;
}

.input-box{
    height: 30px;
    width: 400px;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 5px;
}

.select-box{
    height: 40px;
    width: 410px;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 15px;
}

.message-box{
    height: 30px;
    width: 400px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 5px;
}

.submit-btn{
    width: 400px;
    border-radius: 20px;
    height: 45px;
    font-size: 18px;
    background-color: #ff6347;
    color: white;
    border: 1px solid #fc694f;
    margin-bottom: 15px;
}

.submit-btn:hover{
    background-color: #ff4500;
    cursor: pointer;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.model{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
}

.model-heading{
    font-size: 20px;
    color:#172c66 ;
    margin-left: 140px;
}

.dialog-paragraph{
    font-size: 15px;
    color: #172c66;
}

.ok-btn{
    background-color:  #ff6347 ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 150px;
}

.ok-btn:hover{
    background-color: #ff4500;
    cursor: pointer;
}

.close-icon{
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.membership-img{
    height: 300px;
    width: 500px;
    margin-left: 220px;
    margin-top: 20px;
}

.membership-text{
    text-align: center;
    margin-top: 40px;
    margin-left: 35px;
}

.membership-btn{
    background-color: #ff6347 ;
    padding: 10px 10px;
    border: #fc694f 1px solid;
    font-size: 15px;
    color: #fff;
    margin-left: 370px;
}

.membership-btn:hover{
    cursor: pointer;
    background-color: #ff4500;
}

.membership-container{
    margin-left: 30px;
}

.membership-form{
    display: flex;
    flex-direction: row;
}

.buy-btn{
    background-color: #ff6347 ;
    padding: 10px 10px;
    border: #fc694f 1px solid;
    font-size: 15px;
    color: #fff;
    margin-left: 95px;
}



/* Media query for mobile device */
@media screen and (max-width: 500px) 
{
    .content-container{
        width: 90%;
        margin-left: 20px;
        padding: 10px;
        height: 580px; 
    }

    .trial-img{
        width: 100%;  
        height: auto;  
        margin-top: 20px;
    }

    .trial-text{
        font-size: 20px;  
    }

    .form-container{
        width: 90%;
        margin-left: 5%;
        padding: 15px;
    }

    .submit-btn{
        width: 90%;
        font-size: 14px;  
        margin-bottom: 12px;
        height: 40px;  
        font-size: 16px;  
    }

    .model-heading{
        margin-left: 130px;
    }

    .membership-text{
        margin-top: 20px;
        margin-left: 0;
        font-size: 14px;
    }

    .membership-btn{        
        padding: 10px;        
        font-size: 14px; 
        margin: 10px auto; 
        display: block;
        width: 80%; 
    }

    .membership-container{
        margin-left: 0; 
        padding: 0 10px; 
    }

    .membership-form{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .membership-img{
        height: auto; 
        width: 90%; 
        margin-left: 0;
        margin-top: 20px;
    }

    .buy-btn{
        padding: 10px;
        font-size: 14px;
        margin-top: 10px;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Media query for tablet devices */
@media screen and (min-width: 501px) and (max-width : 992px)
{
    .content-container{
        width: 80%;  
        margin-left: 10%;  
        padding: 15px;  
        height: auto;  
    }

    .trial-img{
        width: 100%; 
        height: auto;  
        margin-top: 20px;
    }

    .trial-text{
        font-size: 22px;
    }

    .form-container{
        width: 80%;  
        margin-left: 10%;
        padding: 15px;  
    }

    .form-text{
        font-size: 22px; 
    }

    .submit-btn{
        width: 80%;  
        font-size: 16px;  
        margin-bottom: 12px; 
        height: 40px;  
        font-size: 16px;  
    }

    .model-heading{
        font-size: 18px; 
    }

    .membership-text{
        margin-top: 30px;
        margin-left: 20px; 
        font-size: 16px; 
    }

    .membership-btn{
        padding: 12px 15px; 
        font-size: 16px; 
        margin-left: auto; 
        margin-right: auto;
        display: block;
        width: 80%; 
    }

    .membership-container{
        margin-left: 0; 
        padding: 0 20px; 
    }

    .membership-form{
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap; 
    }

    .membership-img{
        height: 250px; 
        width: 70%; 
        margin-left: 0;
        margin-top: 20px;
    }

    .buy-btn{
        padding: 12px 15px; 
        font-size: 16px;
        margin-top: 15px;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Media query for dekstop devices */
@media screen and (min-width: 993px) and (max-width : 1200px)
{
    .content-container{
        width: 80%;  
        margin-left: 10%;  
        padding: 15px;  
        height: auto;  
    }

    .trial-img{
        width: 100%;  
        height: auto;  
        margin-top: 20px;
    }

    .trial-text{
        font-size: 26px;  
    }

    .form-container{
        width: 70%;  
        margin-left: 15%;  
        padding: 15px;  
    }

    .form-text{
        font-size: 24px;  
    }

    .submit-btn{
        width: 65%; 
        font-size: 16px;  
        margin-bottom: 12px;  
        height: 45px;  
        font-size: 17px;
    }

    .model-heading{
        font-size: 18px;  
        margin-left: 0;  
    }
}