.body{
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
}

.trial-img{
    height: 400px;
    width: 1519px;
    margin-top: 30px;
}

.trial-text{
    color: rgb(6, 6, 143);
    font-size: 30px;
    text-align: center;
    margin-top: -300px;
    margin-bottom: 300px;
    width: 500px;
}

.form-text{
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.form-container{
    background-color: #001858;
    padding: 5px 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 530px;
    justify-content: center;
    border-radius: 30px;
}

.form{
    text-align: center;
}

.input-box{
    height: 30px;
    width: 400px;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 5px;
}

.message-box{
    height: 30px;
    width: 400px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 5px;
}

.submit-btn{
    width: 400px;
    border-radius: 20px;
    height: 45px;
    font-size: 18px;
    background-color: #ff6347;
    color: white;
    border: 1px solid #fc694f;
    margin-bottom: 15px;
}

.submit-btn:hover{
    background-color: #ff4500;
    cursor: pointer;
}