@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fef6e4;
  color: #333;
}

/* Section Container */
.section-container {
  text-align: center;
  padding: 20px;
  color: #001858;
}

.page-heading {
  font-size: 30px;
  margin: 20px 0;
}

/*FAQ Section*/
.faq-section {
  margin-top: 40px;
}

.faq-heading {
  color: #fef6e4;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  font-size: 30px;
  background-color: #001858;
  width: fit-content;
}

.faq-cards-container {
  background-color: #001858;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
  justify-content: space-evenly;
}

.faq-item {
  height: 200px;
  width: 300px;
  margin: 20px;
  background-color: #fef6e4;
  color: #001858;
  padding: 20px;
  border-radius: 10px;
}

/* Slider section */
.slider-container {
  padding: 50px 50px 30px 50px;
  position: relative;
}

.slider {
  font-family: "Parkinsans", sans-serif;
  height: 220px;
  width: 600px;
  background-color: #001858;
  color: #fef6e4;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  display: block;
  margin: 50px auto;
  border-radius: 20px;
}

.slider .quote {
  width: 540px;
  height: 70px;
  font-size: 17px;
  display: block;
  margin: auto;
  margin-top: 80px;
}

.slider img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: 250px;
}

.left-arrow,
.right-arrow {
  height: 55px;
  position: absolute;
  top: 200px;
}

.left-arrow {
  left: 300px;
}

.right-arrow {
  right: 300px;
}

/* cta Button */
.cta-button {
  background-color: #ff6347;
  color: #fef6e4;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.cta-button:hover {
  background-color: #ff4500;
}

/* Testimonial Form section */
.testimonial-form-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #001858;
  border-radius: 10px;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-form-container h2 {
  color: #fef6e4;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#testimonial-form input,
#testimonial-form textarea {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#testimonial-form button {
  display: block;
  width: 100%;
  margin-top: 20px;
}

/* Popup Styles */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #001858;
  color: #ccc;
  height: 100px;
  width: 280px;
  display: block;
  margin: 200px auto;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
}

.close-icon {
  position: absolute;
  height: 20px;
  right: 12px;
  top: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-icon:hover {
  height: 19px;
  transform: scale(1.2);
}

/* small devices (mobiles, less than 500px) */
@media screen and (min-width: 360px) and (max-width: 500px) {
  .faq-heading {
    padding: 15px;
    font-size: 25px;
  }

  .faq-cards-container {
    width: 70%;
    padding: 35px;
    flex-direction: column;
  }

  .faq-item {
    height: auto;
    width: 180px;
    margin: 20px auto;
  }

  h1 {
    font-size: 25px;
  }

  .slider-container {
    padding: 50px 0;
    position: relative;
  }

  .slider {
    height: 270px;
    width: 220px;
    margin: 30px auto;
  }

  .slider .quote {
    width: fit-content;
    height: auto;
    margin-top: 60px;
  }

  .slider h4 {
    margin-top: 20px;
    font-size: 18px;
  }

  .slider img {
    height: 90px;
    width: 90px;
    top: -40px;
    left: 85px;
  }

  .left-arrow,
  .right-arrow {
    height: 35px;
    top: 220px;
  }

  .left-arrow {
    left: -5px;
  }

  .right-arrow {
    right: -5px;
  }

  .testimonial-form-container {
    width: 270px;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .faq-heading {
    padding: 15px;
    font-size: 25px;
  }

  .faq-cards-container {
    width: 70%;
    padding: 35px;
    flex-direction: column;
  }

  .faq-item {
    height: auto;
    width: 220px;
    margin: 20px auto;
  }

  h1 {
    font-size: 25px;
  }

  .slider-container {
    padding: 50px 0;
    position: relative;
  }

  .slider {
    height: 250px;
    width: 250px;
    margin: 30px auto;
  }

  .slider .quote {
    width: fit-content;
    height: auto;
    margin-top: 60px;
  }

  .slider h4 {
    margin-top: 20px;
    font-size: 18px;
  }

  .slider img {
    height: 90px;
    width: 90px;
    top: -40px;
    left: 100px;
  }

  .left-arrow,
  .right-arrow {
    height: 35px;
    top: 200px;
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }

  .testimonial-form-container {
    width: 330px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .faq-heading {
    padding: 15px;
    font-size: 25px;
  }

  .faq-cards-container {
    width: 80%;
    padding: 35px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .faq-item {
    height: auto;
    width: 220px;
    margin: 20px auto;
  }

  h1 {
    font-size: 25px;
  }

  .slider-container {
    padding: 50px 0;
    position: relative;
  }

  .slider {
    height: 250px;
    width: 450px;
    margin: 30px auto;
  }

  .slider .quote {
    width: fit-content;
    height: auto;
    margin-top: 80px;
  }

  .slider h4 {
    margin-top: 20px;
    font-size: 21px;
  }

  .slider img {
    height: 120px;
    width: 120px;
    top: -60px;
    left: 180px;
  }

  .left-arrow,
  .right-arrow {
    height: 55px;
    top: 200px;
  }

  .left-arrow {
    left: 150px;
  }

  .right-arrow {
    right: 150px;
  }
}
